.img_block{border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #ccc;
    text-align: center;
    padding: 2px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-fashion .img_block:hover {
    transform: scale(1.1);
}

.img_block .img-fluid{height:250px;}
.img_block .img-fluid:hover{
    transform: none;

}